<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>WoodPC - Администратор</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
      <script src="js/vue.js"></script>
    </head>

    <body>
      <!--Верхнее меню-->
      <div class="navbar-fixed">
        <nav class="nav-extended red darken-4">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo right hide-on-med-and-down">Администратор ООО "WoodPC"</a>
            <a data-activates="slide-out" class="button-collapse waves-effect waves-light"><i class="material-icons">menu</i></a>
            <ul class="left">
              <li><a data-activates="slide-out" class="open-side-nav hide-on-med-and-down"><i class="material-icons left">menu</i>Меню</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="row" id="menu_section">
          <div class="card col s12 black-text">
            <div class="center-align col s12">
              <h5>Разделы</h5>
            </div>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="user_sec" v-on:click="show_section(1)"/>
              <label for="user_sec">Пользователи и сотрудники</label>
            </span>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="article_sec" v-on:click="show_section(2)"/>
              <label for="article_sec">Статьи расходов</label>
            </span>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="department_sec" v-on:click="show_section(3)"/>
              <label for="department_sec">Отделы предприятия, ЦФО</label>
            </span>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="role_permission_sec" v-on:click="show_section(4)"/>
              <label for="role_permission_sec">Роли и права</label>
            </span>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="permission_sec" v-on:click="show_section(5)"/>
              <label for="permission_sec">Назначение разрешений</label>
            </span>
            <span class="col s4 center-align">
              <input name="chois" type="radio" id="role_sec" v-on:click="show_section(6)"/>
              <label for="role_sec">Назначение ролей</label>
            </span>
           </div>
        </div>

        <div id="user" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s12 right-align"><h5>Пользователь</h5></span>
          </div>

          <div class="col s12 centre-preload" v-if="isload">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" v-if="loaderror">
              <p class="center-align col s12 red-text">{{message_error}}</p>
          </div>

          <div v-if="loadtrue">
            <div class="z-depth-1 col s12">
              <div class="col s6">
                <div class="input-field col s12">
                  <input id="login" type="text" class="validate" pattern="[0-9a-zA-Z_-]{6,20}" v-model:value="login">
                  <label for="login">Логин</label>
                </div>
                <p v-if="!new_user">
                  <input name="passwd" type="checkbox" id="if_passwd" v-model:checked="change_passwd"/>
                  <label for="if_passwd">Изменить пароль</label>
                </p>
                <div v-if="change_passwd">
                  <div class="input-field col s12">
                    <input id="passwd" type="password" class="validate" pattern="[0-9a-zA-Z_-]{6,20}" v-model:value="passwd">
                    <label for="passwd">Пароль</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="again_passwd" type="password" class="validate" pattern="[0-9a-zA-Z_-]{6,20}" v-model:value="again_passwd">
                    <label for="again_passwd">Повторите пароль</label>
                  </div>
                </div>

              </div>
              <div class="col s6">
                <div class="card col s12 black-text">
                  <span class="col s12 center-align">Отделы</span>
                  <p class="red-text" v-if="error_dep">{{message_dep}}</p>
                  <p v-for="item in departments">
                    <input name="departments" type="radio" v-bind:id="item.id" v-on:click="show_department(item.id)"/>
                    <label v-bind:for="item.id">{{item.name}}</label>
                  </p>

                  <table  class="bordered centered col s12" v-for="department in departments" v-show="department.table_show">
                    <thead>
                      <tr>
                        <th>ФИО</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in department.employees">
                        <td><p>
                          <input name="users" type="radio" v-bind:id="item.id" v-model:checked="item.check"/>
                          <label v-bind:for="item.id">{{item.name}}</label>
                        </p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <span class="col s12 center-align red-text">{{message_failure}}</span>
              <span class="col s12 center-align green-text">{{message_success}}</span>
              <div class="col s12">
                <div v-if="new_user">
                  <a class="waves-effect waves-light btn" v-on:click="create_user"><i class="material-icons left">add</i>Создать</a>
                </div>
                <div v-if="!new_user">
                  <a class="waves-effect waves-light btn light-blue darken-3" v-on:click="change_user"><i class="material-icons left">mode_edit</i>Изменить</a>
                  <a class="waves-effect waves-light btn red accent-3" v-on:click="del_user"><i class="material-icons">delete</i>Удалить</a>
                </div>
              </div>
            </div>


          </div>
        </div>


        <div id="users_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_user"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Пользователи</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>ФИО</th>
                  <th>Логин</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in users" v-on:click="user_check(item.id)">
                  <td>{{item.name}}</td>
                  <td>{{item.login}}</td>
                </tr>
                <tr v-if="if_message" class="cyan lighten-5">
                  <td colspan="2"><span class="center-align">{{message}}</span></td>
                </tr>
                <tr v-if="add_load" class="indigo lighten-5">
                  <td colspan="2" class="centre-preload">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr v-if="!add_load" class="indigo lighten-5">
                  <td colspan="2"><span class="center-align" v-on:click="add_users">Загрузить следующие</span></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div id="employee" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s12 right-align"><h5>Сотрудник</h5></span>
          </div>

          <div class="col s12 centre-preload" v-if="isload">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" v-if="loaderror">
              <p class="center-align col s12 red-text">{{message_error}}</p>
          </div>

          <div v-if="loadtrue">
            <div class="z-depth-1 col s12">
              <div class="col s6">

                <div class="input-field col s12">
                  <input id="FIO" type="text" class="validate" pattern="[А-Яа-я-\s]{2,50}" v-model:value="FIO">
                  <label for="FIO">ФИО</label>
                </div>
                <div class="input-field col s12">
                  <input id="birthday" type="date" class="datepicker" v-model:value="birthday">
                  <label for="birthday">Дата рождения</label>
                </div>
                <span class="col s12">Пол</span>
                <p class="input-field col s6">
                  <input id="sex1" type="radio" name="sex" checked>
                  <label for="sex1">Мужской</label>
                </p>
                <p class="input-field col s6">
                  <input id="sex2" type="radio" name="sex">
                  <label for="sex2">Женский</label>
                </p>

              </div>
              <div class="col s6">

                <div class="card col s12 black-text">
                  <span class="col s12 center-align">Отделы</span>
                  <p class="red-text" v-if="error_dep">{{message_dep}}</p>
                  <p v-for="item in departments">
                    <input name="departments" type="checkbox" v-bind:id="item.id" v-model:checked="item.check"/>
                    <label v-bind:for="item.id">{{item.name}}</label>
                  </p>
                </div>

              </div>
              <span class="col s12 center-align red-text">{{message_failure}}</span>
              <span class="col s12 center-align green-text">{{message_success}}</span>
              <div class="col s12">
                <div v-if="new_employee">
                  <a class="waves-effect waves-light btn" v-on:click="create_employee"><i class="material-icons left">add</i>Создать</a>
                </div>
                <div v-if="!new_employee">
                  <a class="waves-effect waves-light btn light-blue darken-3" v-on:click="change_employee"><i class="material-icons left">mode_edit</i>Изменить</a>
                  <a class="waves-effect waves-light btn red accent-3" v-on:click="del_employee"><i class="material-icons">delete</i>Удалить</a>
                </div>
              </div>
            </div>


          </div>
        </div>


        <div id="employees_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_employee"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Сотрудники</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>ФИО</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in employees" v-on:click="employee_check(item.id)">
                  <td>{{item.name}}</td>
                </tr>
                <tr v-if="if_message" class="cyan lighten-5">
                  <td colspan="2"><span class="center-align">{{message}}</span></td>
                </tr>
                <tr v-if="add_load" class="indigo lighten-5">
                  <td class="centre-preload" colspan="2">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr v-if="!add_load" class="indigo lighten-5">
                  <td colspan="3"><span class="center-align" v-on:click="add_employee">Загрузить следующие</span></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div id="article" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s12 right-align"><h5>Статья</h5></span>
          </div>

          <div class="col s12 centre-preload" v-if="isload">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" v-if="loaderror">
              <p class="center-align col s12 red-text">{{message_error}}</p>
          </div>

          <div v-if="loadtrue">
            <div class="z-depth-1 col s12">
              <div class="col s6">

                <div class="input-field col s12">
                  <input id="article_name" type="text" class="validate" pattern="[а-яА-ЯёЁ\w\d_\-:. ]{4,60}" v-model:value="name">
                  <label for="article_name">Название</label>
                </div>

              </div>
              <div class="col s6">

                <div class="card col s12 black-text">
                  <span class="col s12 center-align">ЦФО</span>
                  <p class="red-text" v-if="error_dep">{{message_cfo}}</p>
                  <p v-for="item in cfos">
                    <input name="cfo" type="radio" v-bind:id="item.id" v-model:checked="item.check"/>
                    <label v-bind:for="item.id">{{item.name}}</label>
                  </p>
                </div>

              </div>
              <span class="col s12 center-align red-text">{{message_failure}}</span>
              <span class="col s12 center-align green-text">{{message_success}}</span>
              <div class="col s12">
                <div v-if="new_article">
                  <a class="waves-effect waves-light btn" v-on:click="create_article"><i class="material-icons left">add</i>Создать</a>
                </div>
                <div v-if="!new_article">
                  <a class="waves-effect waves-light btn light-blue darken-3" v-on:click="change_article"><i class="material-icons left">mode_edit</i>Изменить</a>
                  <a class="waves-effect waves-light btn red accent-3" v-on:click="del_article"><i class="material-icons">delete</i>Удалить</a>
                </div>
              </div>
            </div>


          </div>
        </div>


        <div id="article_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_article"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Статьи расходов</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>ЦФО</th>
                  <th>Товарные позиции</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in articles">
                  <td v-on:click="article_check(item.id)">{{item.name}}</td>
                  <td v-on:click="article_check(item.id)">{{item.cfo}}</td>
                  <td><a class="waves-effect waves-light btn" v-on:click="view_item(item.id, item.name)">Посмотреть</a></td>
                </tr>
                <tr v-if="if_message" class="cyan lighten-5">
                  <td colspan="3"><span class="center-align">{{message}}</span></td>
                </tr>
                <tr v-if="add_load" class="indigo lighten-5">
                  <td colspan="3" class="centre-preload">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr v-if="!add_load" class="indigo lighten-5">
                  <td colspan="3"><span class="center-align" v-on:click="add_article">Загрузить следующие</span></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div id="products_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_product"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Товарные позиции статьи</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th colspan="3" class="center-align">{{article_name}}</th>
                </tr>
                <tr>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in products">
                  <td v-on:click="product_check(item.id, item.name, item.price)">{{item.name}}</td>
                  <td v-on:click="product_check(item.id, item.name, item.price)">{{item.price}}</td>
                  <td><a class="waves-effect waves-light btn red accent-3" v-on:click="del_product(item.id, item.name)"><i class="material-icons">delete</i>Удалить</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div id="departments_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_department"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Отделы</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>Полное название</th>
                  <th>Короткое название</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in departments">
                  <td v-on:click="department_check(item.id, item.fullname, item.shortname)">{{item.fullname}}</td>
                  <td v-on:click="department_check(item.id, item.fullname, item.shortname)">{{item.shortname}}</td>
                  <td><a class="waves-effect waves-light btn red accent-3" v-on:click="del_department(item.id, item.fullname)"><i class="material-icons">delete</i>Удалить</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div id="cfos_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_cfo"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>ЦФО</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in cfos">
                  <td v-on:click="cfo_check(item.id, item.name)">{{item.name}}</td>
                  <td><a class="waves-effect waves-light btn red accent-3" v-on:click="del_cfo(item.id, item.name)"><i class="material-icons">delete</i>Удалить</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div id="permissions_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_item"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Разрешения</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in permissions">
                  <td v-on:click="item_check(item.id, item.name)">{{item.name}}</td>
                  <td><a class="waves-effect waves-light btn red accent-3" v-on:click="del_item(item.id, item.name)"><i class="material-icons">delete</i>Удалить</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div id="roles_section" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s1 center-align waves-effect head_icon" v-on:click="new_item"><i class="material-icons small">add</i></span>
            <span class="col s1 center-align waves-effect"><i class="material-icons small">search</i></span>
            <span class="col s10 right-align"><h5>Роли</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <table class="bordered highlight centered" v-if="loadtrue">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in roles">
                  <td v-on:click="item_check(item.id, item.name)">{{item.name}}</td>
                  <td><a class="waves-effect waves-light btn red accent-3" v-on:click="del_item(item.id, item.name)"><i class="material-icons">delete</i>Удалить</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


        <!--<div id="permissions_appointment" v-if="show" class="row">

          <div class="col s12 red lighten-5 z-depth-1 header_section">
            <span class="col s10 right-align"><h5>Назначение разрешений</h5></span>
          </div>
          <div class="z-depth-1">

            <div class="col s12 centre-preload" v-if="isload">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" v-if="loaderror">
                <p class="center-align col s12 red-text">{{message_error}}</p>
            </div>

            <div class="card col s6">
              <div class="col s12 center-align">
                <a class="waves-effect waves-light btn" v-on:click="save">Назначить разрешения</a>
              </div>
              <table class="bordered highlight centered" v-if="loadtrue">
                <thead>
                  <tr>
                    <th>Роль</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in roles">
                    <td>
                      <p>
                        <input name="roles" type="radio" v-bind:id="item.id" v-model:checked="item.check"/>
                        <label v-bind:for="item.id">{{item.name}}</label>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card col s6">
              <table class="bordered highlight centered" v-if="loadtrue">
                <thead>
                  <tr>
                    <th>Разрешение</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in permissions">
                    <td>
                      <p>
                        <input type="checkbox" v-bind:id="item.id"  v-model:checked="item.check"/>
                        <label v-bind:for="item.id">{{item.name}}</label>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>-->


      </div>


      <!--Окно создать изменить товарную позицию-->
      <div id="product" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Товарная позиция</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Статья: {{article_name}}</p>
              <div class="input-field col s12">
                <input id="product_name" type="text" class="validate" pattern="[а-яА-ЯёЁ\w\d_\-:. ]{4,50}" v-model:value="name">
                <label for="product_name">Название</label>
              </div>
              <div class="input-field col s12">
                <input id="product_price" type="number" class="validate" min="0" v-model:value="price">
                <label for="product_name">Цена</label>
              </div>
              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="new_product">
            <a class="modal-action waves-effect waves-green btn-flat" v-on:click="create_product">Добавить</a>
          </div>
          <div v-if="!new_product">
            <a class="modal-action waves-effect waves-blue btn-flat" v-on:click="update_product">Изменить</a>
          </div>
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>

        </div>
      </div>

      <!--Окно удалить товарную позицию-->
      <div id="product_del" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Удаление товара</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Вы уверены что хотите удалить товар: {{name}}</p>

              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-red btn-flat" v-on:click="del_product">Удалить</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
      </div>

      <!--Окно создать изменить отдел-->
      <div id="department" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Отдел</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <div class="input-field col s12">
                <textarea id="department_fullname" type="textarea" class="validate materialize-textarea" pattern="[а-яА-ЯёЁ\w\d\- ]{1,200}" v-model:value="fullname"></textarea>
                <label for="department_fullname">Полное название</label>
              </div>
              <div class="input-field col s12">
                <input id="department_shortname" type="text" class="validate" pattern="[а-яА-ЯёЁ\w\d\- ]{1,50}" v-model:value="shortname">
                <label for="department_shortname">Короткое название</label>
              </div>
              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="new_product">
            <a class="modal-action waves-effect waves-green btn-flat" v-on:click="create_department">Добавить</a>
          </div>
          <div v-if="!new_product">
            <a class="modal-action waves-effect waves-blue btn-flat" v-on:click="update_department">Изменить</a>
          </div>
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>

        </div>
      </div>

      <!--Окно удалить отдел-->
      <div id="department_del" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Удаление отдела</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Вы уверены что хотите удалить отдел: {{fullname}}</p>

              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-red btn-flat" v-on:click="del_department">Удалить</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
      </div>


      <!--Окно создать изменить ЦФО-->
      <div id="cfo" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">ЦФО</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <div class="input-field col s12">
                <textarea id="cfo_name" type="textarea" class="validate materialize-textarea" pattern="[а-яА-ЯёЁ\w\d_\-:. ]{1,100}" v-model:value="name"></textarea>
                <label for="cfo_name">Название</label>
              </div>
              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="new_product">
            <a class="modal-action waves-effect waves-green btn-flat" v-on:click="create_cfo">Добавить</a>
          </div>
          <div v-if="!new_product">
            <a class="modal-action waves-effect waves-blue btn-flat" v-on:click="update_cfo">Изменить</a>
          </div>
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>

        </div>
      </div>

      <!--Окно удалить ЦФО-->
      <div id="cfo_del" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Удаление ЦФО</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Вы уверены что хотите удалить ЦФО: {{name}}</p>

              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-red btn-flat" v-on:click="del_cfo">Удалить</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
      </div>

      <!--Окно создать изменить Разрешение-->
      <div id="permission" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Разрешение</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <div class="input-field col s12">
                <input id="permission_name" type="text" class="validate" pattern="[а-яА-ЯёЁ\w\d_\-:. ]{1,40}" v-model:value="name">
                <label for="permission_name">Название</label>
              </div>
              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="new_product">
            <a class="modal-action waves-effect waves-green btn-flat" v-on:click="create_item">Добавить</a>
          </div>
          <div v-if="!new_product">
            <a class="modal-action waves-effect waves-blue btn-flat" v-on:click="update_item">Изменить</a>
          </div>
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>

        </div>
      </div>

      <!--Окно удалить Разрешение-->
      <div id="permission_del" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Удаление Разрешения</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Вы уверены что хотите удалить Разрешение: {{name}}</p>

              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-red btn-flat" v-on:click="del_item">Удалить</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
      </div>


      <!--Окно создать изменить Разрешение-->
      <div id="role" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Роль</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <div class="input-field col s12">
                <input id="permission_name" type="text" class="validate" pattern="[а-яА-ЯёЁ\w\d_\-:. ]{1,40}" v-model:value="name">
                <label for="permission_name">Название</label>
              </div>
              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="new_product">
            <a class="modal-action waves-effect waves-green btn-flat" v-on:click="create_item">Добавить</a>
          </div>
          <div v-if="!new_product">
            <a class="modal-action waves-effect waves-blue btn-flat" v-on:click="update_item">Изменить</a>
          </div>
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>

        </div>
      </div>

      <!--Окно удалить Разрешение-->
      <div id="role_del" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5 class="cel s12 center-align ">Удаление роль</h5>
          </div>
          <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <p>Вы уверены что хотите удалить роль: {{name}}</p>

              <p class="center-align green-text">{{message_success}}</p>
              <p class="center-align red-text">{{message_failure}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-red btn-flat" v-on:click="del_item">Удалить</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
      </div>


      <!--Боковое меню -->
      <ul id="slide-out" class="side-nav">
        <li><div class="userView">
          <img class="circle" src="img/user.png">
          <span class="name">{{name}}</span>
          <span class="email">{{department}}</span>
        </div></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Меню</a></li>
        <li><a href="/" class="waves-effect">На главную</a></li>
        <!--<li><a href="#" class="waves-effect">Центр финансовой ответственности</a></li>
        <li><a href="#" class="waves-effect">ПЭД</a></li>-->
        <li><div class="divider"></div></li>
        <li><a href="/user/logout" class="waves-effect">Сменить пользователя</a></li>
      </ul>


      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $('.modal').modal();
          $('input#name_load, input#year_load, input#year_load_check').characterCounter();
          $('select').material_select();
          $(".button-collapse").sideNav();
          $(".open-side-nav").sideNav();
          $('.datepicker').pickadate({
           selectMonths: true, // Creates a dropdown to control month
           selectYears: 15 // Creates a dropdown of 15 years to control year
          });
          side_nav.onredys();
        });
      </script>
    </body>
  </html>
